@page "/"

<h1>Community Italy</h1>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="100" viewBox="0 0 3 2">
            <rect width="3" height="2" fill="#009246"/>
            <rect width="2" height="2" x="1" fill="#fff"/>
            <rect width="1" height="2" x="2" fill="#ce2b37"/>
            </svg>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            Progetto per la gestione degli eventi delle community e degli articoli dei vari speakers.
        </div>
    </div>
</div>
