@using Microsoft.AspNetCore.Components;
@inject NavigationManager navigationManager

    <MatNavMenu Multi="true" Class="app-sidebar">
        <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
            <MatIcon>home</MatIcon> <span class="miniHover">Home</span>
        </MatNavItem>

        <MatNavItem Href="events">
            <MatIcon>event</MatIcon> <span class="miniHover">Events</span>
        </MatNavItem>

        <MatNavItem Href="communities">
            <MatIcon>group</MatIcon> <span class="miniHover">Communities</span>
        </MatNavItem>

        <MatNavItem Href="articles">
            <MatIcon>create</MatIcon> <span class="miniHover">Articles</span>
        </MatNavItem>

        <MatNavItem Href="person">
            <MatIcon>face</MatIcon> <span class="miniHover">People</span>
        </MatNavItem>

    </MatNavMenu>
